<%- include('partials/header') %>

<% 
    let nav = [
        {
            label: 'Principios',
            active: true,
            childs: [
                'De experiencia de usuario'
            ]
        },
        {
            label: 'Color',
            childs: [
                'Paletas de color',
                'Criterios de aplicación'
            ]
        },
        {
            label: 'Tipografía',
            disabled: true,
            childs: [
                'Escala tipográfica'
            ]
        },
        {
            label: 'Grilla',
            childs: [
                'Columnas',
                'Espaciado'
            ]
        },
        {
            label: 'Formas',
            childs: [
                'Radio (Redondeado)',
                'Sombreado'
            ]
        },
        {
            label: 'Recursos',
            childs: [
                'Librería Sketch',
                'Librería de Iconos',
                'Elementos institucionales'
            ]
        }
    ]
%>
<div class="container">
    <h2 class="mt-32">Sidenav fit</h2>
    <hr class="uc-hr my-28">
</div>
<div class="container" style="height: 400px;">
    <ul class="nav uc-navbar-side uc-navbar-side-fit">
        <% nav.forEach(function(el){ %>
            <li class="<%= el.disabled ? 'disabled' : '' %>">
                <a href="#" class="uc-navbar-side_label <%= el.active ? 'active' : '' %>">
                    <%= el.label; %>
                </a>
                <ul class="uc-navbar-side">
                    <% el.childs.forEach(function(child){ %>
                        <li>
                            <a href="#">
                                <%= child; %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
</div>
<%- include('partials/footer') %>
